name: Linter
on:
  push:
    branches:
      - main
  pull_request: {}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Generate go code
        run: go generate ./...
      - name: Lint Go code
        uses: golangci/golangci-lint-action@v9
        with:
          skip-cache: true
          version: v2.7.1
      - name: Check for Typos
        uses: crate-ci/typos@v1.41.0
        with:
          config: .typos.toml
